/* all section */
body {
	background-image: linear-gradient(black, white);
}

body,
html,
main {
	height: 100%;
	width: 100%;
}
/* nav section */
.navbar {
	background-image: linear-gradient(#0080ff, grey);
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
}
.header-title {
	animation-name: title;
	animation-duration: 35s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	text-shadow: 0px 2px black;
}
@keyframes title {
	0% {
		color: #660066;
	}
	3% {
		color: #993399;
	}
	6% {
		color: #990099;
	}
	9% {
		color: #993366;
	}
	12% {
		color: #660033;
	}
	15% {
		color: #990033;
	}
	18% {
		color: #993333;
	}
	21% {
		color: #800000;
	}
	24% {
		color: #990000;
	}
	27% {
		color: #993300;
	}
	30% {
		color: #cc3300;
	}
	33% {
		color: #996600;
	}
	36% {
		color: #663300;
	}
	39% {
		color: #996633;
	}
	42% {
		color: #999966;
	}
	45% {
		color: #666633;
	}
	48% {
		color: #333300;
	}
	51% {
		color: #336600;
	}
	54% {
		color: #003300;
	}
	57% {
		color: #006600;
	}
	60% {
		color: #339933;
	}
	63% {
		color: #339966;
	}
	66% {
		color: #669999;
	}
	69% {
		color: #006666;
	}
	72% {
		color: #003366;
	}
	75% {
		color: #336699;
	}
	78% {
		color: #3366cc;
	}
	81% {
		color: #003399;
	}
	84% {
		color: #000099;
	}
	87% {
		color: #0000cc;
	}
	90% {
		color: #000066;
	}
	93% {
		color: #333399;
	}
	96% {
		color: #666699;
	}
	99% {
		color: #6600cc;
	}
	100% {
		color: #9900cc;
	}
}
/* header section */
.heroImage {
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.hero-container {
	padding-left: 0;
	padding-right: 0;
}
/* about section */
.about-card {
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px;
}
/* portfolio section */
.person {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}
/* .card-header {
	height: 44vh;
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
} */
/* technologies section */

/* contact section */
/* footer section */
