/* all section */
body {
}

body,
html,
main {
	font-family: 'Kumbh Sans', sans-serif;
	height: 100%;
	width: 100%;
}

/*------------------------------------------------------------------------------------------*/
/* nav section */
.navbar {
	background-image: linear-gradient(#0080ff, grey);
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
}
.header-title {
	animation-name: title;
	animation-duration: 35s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	text-shadow: 0px 2px black;
}
@keyframes title {
	0% {
		color: #660066;
	}
	3% {
		color: #993399;
	}
	6% {
		color: #990099;
	}
	9% {
		color: #993366;
	}
	12% {
		color: #660033;
	}
	15% {
		color: #990033;
	}
	18% {
		color: #993333;
	}
	21% {
		color: #800000;
	}
	24% {
		color: #990000;
	}
	27% {
		color: #993300;
	}
	30% {
		color: #cc3300;
	}
	33% {
		color: #996600;
	}
	36% {
		color: #663300;
	}
	39% {
		color: #996633;
	}
	42% {
		color: #999966;
	}
	45% {
		color: #666633;
	}
	48% {
		color: #333300;
	}
	51% {
		color: #336600;
	}
	54% {
		color: #003300;
	}
	57% {
		color: #006600;
	}
	60% {
		color: #339933;
	}
	63% {
		color: #339966;
	}
	66% {
		color: #669999;
	}
	69% {
		color: #006666;
	}
	72% {
		color: #003366;
	}
	75% {
		color: #336699;
	}
	78% {
		color: #3366cc;
	}
	81% {
		color: #003399;
	}
	84% {
		color: #000099;
	}
	87% {
		color: #0000cc;
	}
	90% {
		color: #000066;
	}
	93% {
		color: #333399;
	}
	96% {
		color: #666699;
	}
	99% {
		color: #6600cc;
	}
	100% {
		color: #9900cc;
	}
}

/*------------------------------------------------------------------------------------------*/
/* header section */
.header-title-container {
	top: 50%;
	left: 50%;
	text-align: center;
	position: absolute;
}
/* .header-title-text {
	font-size: 62px;
	color: white;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626,
		0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
		0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); 
} */

.header-title-container span {
	color: white;
	font-size: 62px;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626,
		0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
		0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
	position: relative;
}
span:after {
	position: absolute;
	content: attr(content);
	left: 0;
	-webkit-transition: all 750ms;
	-moz-transition: all 750ms;
	-o-transition: all 750ms;
	transition: all 750ms;
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
}
span:hover:after {
	cursor: pointer;
	transform: translateY(-6px);
	/* -ms-transform: skew(10deg, 25deg);
	transform: skew(10deg, 25deg); */
}

.heroImage {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 70vh;
	width: 100vw;
}

.hero-container {
	padding-left: 0;
	padding-right: 0;
}

/*------------------------------------------------------------------------------------------*/
/* about section */
#about {
	background-image: linear-gradient(black, white);
}

.about-container {
	margin-bottom: 500px;
}

.about-card {
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px;
}

/*------------------------------------------------------------------------------------------*/
/* portfolio section */
#portfolio {
	background-image: linear-gradient(black, white);
}

.portfolio-container {
	margin-top: 50px;
	margin-bottom: 500px;
}
.portfolio-card {
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px;
}
.person {
	width: 100%;
	height: 15vw;
	object-fit: cover;
	margin-bottom: 15px;
}

.col-md-3 .card {
	transition: all .7s ease-out;
}
.col-md-3 .card:hover {
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	transform: scale(1.05);
}

/* .col-md-3 .card::before,
.col-md-3 .card::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);

	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
} */
/* .col-md-3 .card::before {
	transform-origin: left top;
}
.col-md-3 .card::after {
	transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
	transform: scale3d(1, 1, 1);
} */

.portfolio-link {
	background-color: white;
	color: black;
	padding: 2px;
	border: 2px solid #999;
	display: inline-block;
	margin-bottom: 10px;
	padding-top: 10px;
	transition: all .7s;
	border-radius: 5px;
}
.portfolio-link:hover {
	text-decoration: none;
	color: #f7f7f7;
	background-color: black;
}

.link-container {
	display: flex;
	/* justify-content: space-between; */
	flex-direction: column;
}

/*------------------------------------------------------------------------------------------*/
/* technology section */
#technology {
	background-image: linear-gradient(black, white);
}
.technology-container {
	margin-top: 50px;
	margin-bottom: 500px;
}
.technology-card {
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px;
}

.frontend-container,
.backend-container {
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	margin: auto;
	position: relative;
}

.technology-icon {
	margin-left: 10px;
	margin-right: 10px;
}
.svg-inline--fa:hover + .icon-header {
	margin-bottom: -10px;
	opacity: 1;
	height: auto;
	color: #0087e5;
}
.svg-inline--fa:hover {
	color: #0087e5;
}
.icon-header {
	text-align: center;
	transition: all 1s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
	margin: 10px;
	transition: all 3s ease-out;
	position: absolute;
	font-size: 18px;
	font-weight: 600;
}
/*icons */
.svg-inline--fa {
	display: inline-block;
	width: 3.25em !important;
	height: 3.25em !important;
	transition-duration: 3.3s;
}
.svg-inline--fa:hover {
	cursor: pointer;
}
/*------------------------------------------------------------------------------------------*/
/* contact section */
#contact {
	background-image: linear-gradient(black, white);
}
.contact-container {
	margin-top: 50px;
	margin-bottom: 500px;
}
.contact-card {
	box-shadow: 0px 3px 6px grey, 0px 3px 6px grey;
	margin-top: 20px;
	padding: 20px;
	border-radius: 15px;
}

/*------------------------------------------------------------------------------------------*/
/* footer section */
